
@import './variables.scss';

.banner-container{
    min-height: 600px;

    .decore{

        position: absolute;
        right: -230px;
        top: -355px;
    
    }
}

.carousel.slide{
    // padding: 0 50px;
    margin: auto;

    .carousel-control-prev{
        display: none;
    }
}
.carousel-inner{
    .carousel-item{
        .carousel-caption{
            color: #181E4B !important;
            text-align: left;
            position: static;
            padding-top: 0;
            padding-bottom: 0;

            .banner-card{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media only screen and (min-width: 992px){
                    flex-direction: row;
                    
                }
            }

            .vector-img{
                display: none;

                @media only screen and (min-width: 992px){
                    top: 30%;  
                    position: absolute;
                    right: 50%;
                    display: block;
                    z-index: 0;
                }
            }
           
            .banner-category{
                font-weight: bold;
                margin-bottom: 24px;
                padding-top: 40px;
            }
            
            h1{
                font-size: 75px;
                color: #181E4B;
                font-weight: bold;
                margin: 40px 0;
                width: 600px;
                position: relative;
                z-index: 10;
            }

            p{
                font-size: 16px;
                color: $base-color;
                height: 90px;
                font-weight: 500;
                max-width: 460px;
                
            }

        }
    }  
}

.carousel-indicators{
    align-items: center !important;
    justify-content: left !important;
    margin-left: 101px !important ;
    gap: 6rem;
    margin-top: 10px;
    
    button{
        border-radius: 50%;
        width: 30px !important;
        height: 30px !important;
        background-color: #181E4B !important;
    }
    button.active{
        width: 40px !important;
        height: 40px !important;
    }
}