@import './variables.scss';

header {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;

    .navbar{
        z-index: 10;
        position: relative;
        .navbar-nav{
            gap: 1rem;
        }
    }
    
    .nav{
        z-index: 100;
        
        .nav-link{
            color: $base-color;

            &:hover{
                color: $blue-color;
            }
        }

        button, select{

        }
    }

}