@import './variables.scss';

header {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 1rem 0;


    .decore{

        position: absolute;
        right: -230px;
        top: -355px;
    
    }


    .nav{
        z-index: 100;
        
        .nav-link{
            color: $base-color;

            &:hover{
                color: $blue-color;
            }
        }

        button, select{

        }
    }

}